.login_form-card {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.login_form-card input {
    width: 100%;
    border: 1px solid #99b2bf;
    border-radius: 4px;
    padding: 1rem;
    background: #ffffff;
    letter-spacing: 0.1rem;
    font-size: 13px;
    margin-top: 1.5rem;
}

.login_form-card .forgot-password {
    margin-top: 0.5rem;
    text-align: right;
    font-size: 12px;
    color: green;
    padding-top: 6px;
    padding-bottom: 6px;
}

.login_form-card .form-button {
    border-radius: 4px;
    background-color: #5ff7d2;
    padding: 1rem 4rem;
    color: #fff;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.14);
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

.login_form-card .button-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-top: 0.7rem;
    width: 100%;
}

.login_form-card .button-div .login {
    background: #3b5998;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.14);
    cursor: pointer;
    width: 45%;
    height: 3rem;
    font-size: 1rem;
}

.login_form-card .button-div .forms-button {
    border-radius: 4px;
    color: #000000;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.14);
    cursor: pointer;
    width: 45%;
    font-size: 1rem;
    background-color: #fff;
}


.login_form-card .paragraph {
    text-align: center;
}


.fa-register {
    font-size: 12px;
    text-align: center;
}

.fa-register span {
    cursor: pointer;
    color: green;
}