.button_sign {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.button_margin1 {
    margin-top: 2rem;
}

.button_margin3 {
    margin-bottom: 2rem;
}

.green {
    color: #3db83a;
    cursor: pointer;
}

.rules {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}

.rules input {
    cursor: pointer;
}

.radio {
    margin-left: 0.3rem;
}