.Product_form {
    margin: 0 auto;
    margin-top: 4rem;
    padding: 2rem;
    width: 40%;
    background: #fff;
    box-shadow: 1px 1px 4px rgba(80, 114, 125, .4);
    border-radius: 4px;
    margin-bottom: 4rem;
}

.Product_form h1 {
    width: 45%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.Product_form input,
select,
textarea {
    width: 100%;
    border: 1px solid #99b2bf;
    border-radius: 4px;
    padding: 1rem;
    background: #ffffff;
    letter-spacing: 0.1rem;
    font-size: 13px;
    margin-top: 1.5rem;
}

.Product_form .form-button {
    width: 100%;
    border-radius: 4px;
    background-color: #5ff7d2;
    padding: 1rem 4rem;
    color: #fff;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.14);
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1.5rem;
}

@media screen and (max-width: 800px) {
    .Product_form {
        width: 95%;

    }

    .Product_form h1 {
        width: 100%;

    }
}

@media screen and (max-width: 430px) {
    .Product_form {
        width: 95%;

    }

    .Product_form h1 {
        width: 100%;

    }
}